{% extends 'base.html' %}
{% block styles %}
    
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

{% endblock %}
{% block content %}
<h1>Admin Dashboard</h1>
    
<h2>Users</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
</table>
    
<h2>Employers</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Industry</th>
        <th>Website</th>
        <th>Contact</th>
        <th>Address</th>
        <th>LinkedIn</th>
        <th>Company Logo</th>
    </tr>
    {% for employer in employers %}
    <tr>
        <td>{{ employer.id }}</td>
        <td>{{ employer.industry }}</td>
        <td>{{ employer.website }}</td>
        <td>{{ employer.contact }}</td>
        <td>{{ employer.address }}</td>
        <td>{{ employer.linkedin }}</td>
        <td><img src="{{ employer.company_logo }}" width="50"></td>
    </tr>
    {% endfor %}
</table>
    
<h2>Jobs</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Company</th>
        <th>Location</th>
        <th>Job Type</th>
        <th>Salary</th>
        <th>Description</th>
    </tr>
    {% for job in jobs %}
    <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.job_title }}</td>
        <td>{{ job.company }}</td>
        <td>{{ job.location }}</td>
        <td>{{ job.job_type }}</td>
        <td>{{ job.salary }}</td>
        <td>{{ job.description }}</td>
    </tr>
    {% endfor %}
</table>
    
<h2>Applicants</h2>
<table>
    <tr>
        <th>ID</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Qualification</th>
        <th>Field of Study</th>
        <th>Experience (Years)</th>
        <th>Resume</th>
    </tr>
    {% for applicant in applicants %}
    <tr>
        <td>{{ applicant.id }}</td>
        <td>{{ applicant.dob }}</td>
        <td>{{ applicant.gender }}</td>
        <td>{{ applicant.address }}</td>
        <td>{{ applicant.highest_qualification }}</td>
        <td>{{ applicant.field_of_study }}</td>
        <td>{{ applicant.experience_years }}</td>
        <td><a href="{{ applicant.resume }}" target="_blank">View Resume</a></td>
    </tr>
    {% endfor %}
</table>

<h2>Skills</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Skill Name</th>
    </tr>
    {% for skill in skills %}
    <tr>
        <td>{{ skill.id }}</td>
        <td>{{ skill.skill_name }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
